@{
    ViewBag.Title = "Home Page";
}

Καλώς ήρθατε στο Κέντρο Υγείας της πόλης μας.
@{
    if (!User.Identity.IsAuthenticated)
    {
    <p>Παρακαλώ εισέλθετε στο σύστημα για να προχωρήσετε.</p>
    }

}

@{
    if (User.Identity.IsAuthenticated)
    {
        <br/>
        <button>@Html.ActionLink("Δημιουργία Ακτινολογικού Ραντεβού", "Create", "Radiographies")</button>
    }

}